* {
    text-align: center;
}

h1 {
    text-align: right;
}

.container {
    display: flex;
    background-color: blueviolet;
}

.container div{
    width: 200px;
    height: 200px;
    background-color: darkorange;
}